*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fdf5e6;
  margin: 0;
  padding: 0;
  color: #666666;
  text-align: center;
  padding: 0 30px 30px 30px;
  font-size: 18px;
}
@media (max-width: 768px) {
  body {
    padding: 0 15px 15px 15px;
  }
}

h2 {
  margin: 50px 0;
  font-size: 36px;
}
@media (max-width: 980px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 20px;
    margin: 40px 0;
  }
}

.header {
  background-color: #fdf5e6;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
    font-size: 15px;
  }
}
.header-items ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-items ul li {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header-items ul li {
    margin-left: 10px;
  }
}
.header-items ul li a {
  color: #666666;
  text-decoration: none;
}
.header-items ul li a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.profile-title {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .profile-title {
    padding-top: 50px;
  }
}
.profile-title span {
  color: #d2b48c;
}
.profile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .profile-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}
.profile-content-img {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 980px) {
  .profile-content-img {
    padding: 0 30px;
  }
}
.profile-content-img img {
  width: 300px;
}
@media (max-width: 980px) {
  .profile-content-img img {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .profile-content-img img {
    width: 80%;
  }
}
.profile-content-text {
  padding: 0 30px;
  text-align: left;
}

@media (max-width: 980px) {
  .profile-content-text {
    padding:30px;
  }
}

@media (max-width: 768px) {
  .profile-content-text {
    padding: 10px 0;
    font-size: 15px;
  }
}

.profile-content-text p{
  margin:0px;
}

.career {
  padding: 30px 0;
}
@media (max-width: 768px) {
  .career {
    padding: 30px;
  }
}
.career-title span {
  color: #d2b48c;
}
.career-content {
  text-align: left;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .career-content {
    width: 100%;
  }
}
.career-content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.career-content-item-time {
  width: 100px;
  margin: 10px 0;
}
@media (max-width: 980px) {
  .career-content-item-time {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .career-content-item-time {
    font-size: 15px;
    width: 70px;
  }
}
.career-content-item-p {
  width: calc(100% - 100px);
  margin: 10px 0;
}
@media (max-width: 980px) {
  .career-content-item-p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .career-content-item-p {
    font-size: 15px;
    width: calc(100% - 70px);
  }
}

.works {
  padding: 30px 0 100px;
}
.works-title span {
  color: #d2b48c;
}
.works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
@media (max-width: 980px) {
  .works-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.works-content-item {
  padding: 10px;
}
.works-content-item img {
  width: 300px;
}
@media (max-width: 980px) {
  .works-content-item img {
    width: 95%;
  }
}
